*{
    margin:0;
    padding:0;
}

body{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding:50px;
}

.card{
    height: 270px;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap:5px;
    border: 1px solid grey;
    border-radius: 2px;
}

.main-info{
    display: flex;
    flex-direction: row;
    align-items: start;
}

.main-info img{
    width:40px;
    height: 40px;
}